{% extends '/layout/layout.html.twig' %}

{% block body %}
        <div class="row">
            <!-- flash messages -->
            {% include 'partials/more/flash_messages.html.twig' %}
            <!-- /end flash messages -->
            <div class="col-md-12">
                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        {% include "partials/more/table_search_box.html.twig" %}
                        <div class="box-tools pull-right">
                            {% if info.serviceManage  %}
                            <a href="{{ path('company_add_service', {'slug': slug}) }}" class="btn btn-block btn-primary btn-sm">
                                Добави услуга
                            </a>
                            {% endif %}
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            {% if services is empty %}
                                <div class="callout callout-danger">
                                    <h4>Упссс, няма добавени услуги!</h4>

                                    <p>Съжаляваме, но изглежда все още няма добавени услуги към тази компания.
                                        <br />
                                    </p>
                                </div>
                            {% else %}
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>Услуга</th>
                                    <th>Цена</th>
                                    <th>Времетраене</th>
                                    {% if info.serviceManage %}
                                    <th width="15%">Управление</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for service in services %}
                                    <tr>
                                        <td>{{ service.name }}</td>
                                        <td>{{ service.cost }}лв</td>
                                        <td>{{ service.time }}мин.</td>
                                        {% if info.serviceManage %}
                                        <td>
                                            <a href="{{ path('service_providers', {'slug': slug, 'id': service.id}) }}" class="btn btn-xs" data-toggle="tooltip" data-placement="top" title="Служители"><i class="fa fa-user"></i></a>


                                            <a href="{{ path('company_add_service', {'slug': slug, 'id': service.id}) }}" class="btn btn-xs" data-toggle="tooltip" data-placement="top" title="Редактирай"><i class="fa fa-pencil"></i></a>

                                            <button class="btn btn-xs confirm_delete" data-url="{{ path("remove_service", {'slug': slug, 'service_id': service.id}) }}"><i class="fa fa-remove" aria-hidden="true"></i></button>

                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            {% endif %}
                        </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {{ knp_pagination_render(services) }}
                        </ul>
                    </div><!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
{% endblock %}


